@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto+Condensed&display=swap');

:root {
    /* slate colour scheme */
    --primaryBackgroundColour: #f8fafc;
    --secondaryBackgroundColour: #1e293b;
    --primaryTextColour: #18181b;
    --secondaryTextColour: #f0f9ff;
    font-size: calc(0.625rem + 0.4vw);
    --gapStandard: 1rem;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    /* align-content: center; */
    gap: 1rem;
    width: 100vw;
}

/* title */
h1 {
    grid-row: 1/2;
    margin-bottom: 0;
    justify-self: center;
}

/* button */
#new-book-button {
    grid-row: 2/3;
    height: calc(var(--gapStandard)*2);
    width: 10rem;
    color: var(--secondaryTextColour);
    background-color: #22c55e;
    border-radius: .2rem;
    border: none;
    justify-self: center;
}

/* container */
#book-container {
    grid-row: 3/4;
    background-color:pink;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 0 10rem;
}

/* inside container (cell) */
.book-cell {
    background: var(--secondaryBackgroundColour);
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: calc(var(--gapStandard));
    color: var(--secondaryTextColour);
    font-size: 1.5rem;
    padding: calc(var(--gapStandard)) calc(var(--gapStandard)*2);
    border-radius: .5rem;
}

.read, 
.remove-book, 
.not-read {
    color: var(--secondaryTextColour);
    border: none;
    border-radius: .3rem;
    font-size: 1em;
}

.read {
    background: #22c55e;
}

.not-read {
    background: #c54522;
}

.remove-book {
    background: #94a3b8;
}

.fa-solid {
    vertical-align: middle;
    padding-left: .5rem;
}

button:hover{
    transform: scale(1.1) translateY(2px);
}

button:active {
    transform: scale(1);
}

#new-book-form {
    display: none;
    grid-template-rows: repeat(5, auto);
    width: 300px;
    padding: 2rem 0;
    position: absolute;
    left: calc(50vw - (300px/2));
    top: 200px;
    background: pink;
    gap: 2rem;
    border-radius: .5rem;
    justify-content: center;
}
